<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>404 Page Not Found</title> 
  <link rel= "stylesheet" href= "./styles/mainpage.css">
</head>

<body>
<svg height = "500" width = "500" xmlns="http://www.w3.org/2000/svg">

  <polygon points = "42,40 2,60 2,100 42,120 82,100 82,60" stroke = "#F2773F" stroke-width = "3" id = "hexagon-1" fill = "transparent"></polygon>
  
  
  <polygon points = "100,100 140,80 180,100 180,140 140,160 100,140" stroke = "#36B455" stroke-width = "3" id = "hexagon-2" fill = "transparent"></polygon>

 <polygon points = "42,142 82,162 82,202 42,222 2,202 2,162" stroke = "#EF4A5B" stroke-width = "3" id = "hexagon-3" fill = "transparent"></polygon>

  <polygon points = "222,142 302,182 302,262 222,302 142,262 142,182" stroke = "#007FB2" stroke-width = "3" id = "hexagon-4" fill = "transparent"></polygon>
  
   <polygon points = "97,222 62,242 62,272 97,292 132,272 132,242" stroke = "purple" stroke-width = "3" id = "hexagon-9" fill = "transparent"></polygon>
  
  
    <polygon points = "290,40 250,60 250,100 290,120 330,100 330,60" stroke = "#F2773F" id = "hexagon-5" stroke-width = "3" fill = "transparent"></polygon>

  <polygon points = "390,100 350,120 350,160 390,180 430,160 430,120" stroke = "#36B455" stroke-width = "3" id = "hexagon-6" fill = "transparent"></polygon>
  
 <polygon points = "42,290 2,310 2,350 42,370 82,350 82,310" stroke = "#36B455" stroke-width = "3" id = "hexagon-1" fill = "transparent"></polygon>
  
 <polygon points = "42,400 2,420 2,460 42,480 82,460 82,420" stroke = "#007FB2" stroke-width = "3" id = "hexagon-8" fill = "transparent"></polygon>

</svg>

<div id = "message-box"> 
  <p>404 - PAGE NOT FOUND</p>
</div>


</body>
</body>
</html>