<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript">
        function register()
        {
            //window.alert('Shi Ja rhe ho!');
            window.location.href='Registration.html';
        }
    </script>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body style="background-color: #CDD9FA;">
    <label style="font-size: 50px; margin:70px">Next In-Your prefered company name-</label>
    <br>
    <label style="font-size: 15px; padding-left:300px;">#future of technology- your quota -</label>
    <div style="padding-right:20px; padding-left:150px; margin-top: 50px;">
    <form action="" method="post">
        <label style="font-size:30px; padding-right:20px;">Username : </label>
        <input type="email" name="username" placeholder="info@gmail.com"/>
        </br>
        <label style="font-size: 30px; padding-right:20px;">Password : </label>&nbsp
        <input type="Password" name="password" placeholder="********"/>
    	</br></br>
        <input type="submit" value="LOGIN"/>
    </form>
    </div>
    </br>
    <div style="padding-left:400px;">
    <label>New Here ? </label>
    <input type="button" value="Register" onclick="window.location.href='/new'">
    </div>
</body>
</body>
</html>
