<!DOCTYPE html>
<html>
<head>
	<title>Next In-your company Name-</title>
</head>
<body style="background-color: #CDD9FF;">
	<label style="font-size:50px; padding-right:20px; padding-left:50px;">Registration Form:</label>
		<br><br>
	<div style="padding-left:70px; margin: 40px auto;">
	<form action="" method="post">
		<label style="font-size:25px; padding-right:98px;">Name: </label>
		<input type="txt" name="name" placeholder="Your Name" required>
		<br>
		<label style="font-size:22px; padding-right:20px;">Mobile Number:</label>
		<input type="txt" id="n" placeholder="+91" style="width: 25px; font-size:10pt;" />
		<input type="txt" name="num" placeholder="7007*****9" style="width: 119px; font-size:10pt; "  required>
		<br>
		<label style="font-size:25px; padding-right:100px;">Email:</label>
		<input type="email" name="email" placeholder="example@next_in"  required>
		<br>
		<label style="font-size:25px; padding-right:84px;">Gender: </label>
		<input type="txt" name="gender" placeholder="Male" required>
		<br>
		<label style="font-size:25px; padding-right:58px;">BirthDay : </label>
		<input type="txt" name="dob" placeholder="04/01/1998" required>
		<br>
		<label style="font-size:25px; padding-right:77px;">District : </label>
		<input type="txt" name="dis" placeholder="Lucknow" required>
		<br>
		<label style="font-size:25px; padding-right:58px;">Password :</label>
		<input type="Password" name="password" placeholder="********" required>
		<br><br>
		<input type="Submit" value=" Submit " />
		<br><br>
	</form>
	<form action="/">
	<div style="padding-left:300px;">
		<label style="font-size: 10px;">Already Registered ? </label>
    	<input type="Submit" value="login"/>
	</div>
	</form>
	</div>
</body>
</html>
